/* index.css or Button.css */

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: blue; /* Change to your desired color */
}

.btn-secondary {
  background-color: gray; /* Change to your desired color */
}

.btn-success {
  background-color: green; /* Change to your desired color */
}

.product-display-area {
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-name {
  font-size: 20px;
  font-weight: bold;
}

.product-category {
  color: #777;
}

.product-price {
  color: green;
  font-weight: bold;
}
